<div class="container">
  <div class="form-wrapper border p-3 rounded-3">
    <div class="login">
      <form
        class="example-form"
        name="form"
        [formGroup]="loginForm"
        (ngSubmit)="loginSubmited()"
      >
        <h1 class="title">Login</h1>
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            type="email"
            matInput
            formControlName="email"
            placeholder="Ex. pat@example.com"
            id="email"
          />
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error
            *ngIf="Email.hasError('email') && !Email.hasError('required')"
          >
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="Email.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Password</mat-label>
          <input type="password" matInput formControlName="pwd" id="pwd" />
          <mat-hint>Errors appear instantly!</mat-hint>
          <mat-error
            *ngIf="PWD.hasError('minlength') || PWD.hasError('maxlength')"
          >
            Password should be at least 6 and at the max 15 characters long.
          </mat-error>
          <mat-error *ngIf="PWD.hasError('required')">
            Password <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <div class="example-button-row">
          <button
            mat-button
            color="primary"
            class="button-login"
            [disabled]="loginForm.invalid"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
    <div class="register">
      <button
        mat-button
        color="primary"
        class="button-register"
        [routerLink]="['/register']"
      >
        Register
      </button>
    </div>
  </div>
</div>
